body {
  background-color: rgb(255, 99, 149);
  font-family: "Fredoka One", cursive;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto 0 auto;
  width: 320px;
}

canvas {
  max-width: 100%;
  max-height: calc(100vh - 30px);
  cursor: default;
  background-color: rgb(255, 99, 149);
}

button {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: monospace;
  border: 0;
  background-color: #ff3979;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
}

.wave {
  position: absolute;
  height: 60px;
  width: 60px;
  background: radial-gradient(
    circle,
    rgba(255, 99, 149, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin: -30px;
  border-radius: 100%;
  opacity: 0;
  -ms-filter: none;
  filter: none;
  transform: scale(0);
  z-index: 9999;
}

.active {
  transition: transform 400ms ease, opacity 400ms ease;
  opacity: 0.5;
  filter: alpha(opacity=0);
  transform: scale(1);
}

h1 {
  font-family: Poppins;
  color: #fff;
  text-align: center;
  font-weight: 100;
  letter-spacing: 8px;
  margin: 0 0 20px 0;
}
